<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="org.springframework.cloud.function.utils" level="warn" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.cloud.function.adapter.azure.FunctionInvoker" level="warn" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>
