version: '{build}'

image: Visual Studio 2017

pull_requests:
  do_not_increment_build_number: true

branches:
  only:
    - dev
    - master

environment:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_VERSION: 2.1.402
  
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0    

install:
  - ps: Get-Command mvn
  - ps: Get-Command nuget
  - cmd: echo %JAVA_HOME%
  
build_script:
  - ps: |
      $buildNumber = 0      
      if($env:APPVEYOR_REPO_TAG -eq "true") {
       $buildNumber = $env:APPVEYOR_REPO_TAG_NAME
       Write-Host “Found git tag."
      } 
      else {
       $buildNumber = "1.7.2-SNAPSHOT-$env:APPVEYOR_BUILD_NUMBER"
       Write-Host “git tag not found. Setting package suffix to '$buildNumber'"
      }     
      .\package.ps1 -buildNumber $buildNumber

artifacts:
- path: 'pkg/*.nupkg'

cache:
  - C:\maven\
