version: '{build}'

image: Visual Studio 2017

pull_requests:
  do_not_increment_build_number: true

branches:
  only:
    - dev
    - master

environment:
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0

install:
  - cmd: echo %JAVA_HOME%
  - ps: Get-Command mvn
  - cmd: mvn -v
  - ps: Get-Command nuget

build_script:
  - ps: |
      $buildNumber = 0      
      if($env:APPVEYOR_REPO_TAG -eq "true") {
       $buildNumber = ""
       Write-Host “Found git tag. Not setting package suffix"
      } 
      else {
       $buildNumber = "-$env:APPVEYOR_BUILD_NUMBER"
       Write-Host “git tag not found. Setting package suffix to '$buildNumber'"
      }     
      .\package.ps1 -buildNumber $buildNumber

artifacts:
  - path: '*.nupkg'
  - path: 'azure-functions-java-worker/target/**.jar'
cache:
  - C:\maven\