version: '{build}'

image: Visual Studio 2017

pull_requests:
  do_not_increment_build_number: true

branches:
  only:
    - dev
    - master

environment:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_VERSION: 2.1.402
  
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0    

install:
  - ps: Get-Command mvn
  - cmd: mvn -v
  - ps: Get-Command nuget
  - cmd: echo %JAVA_HOME%
  - cmd: dotnet --info
  
build_script:
  - cmd: mvn clean package -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B
  - ps: |
      $buildNumber = 0      
      if($env:APPVEYOR_REPO_TAG -eq "true") {
       $buildNumber = ""
       Write-Host “Found git tag. Not setting package suffix"
      } 
      else {
       $buildNumber = "-$env:APPVEYOR_BUILD_NUMBER"
       Write-Host “git tag not found. Setting package suffix to '$buildNumber'"
      }     
      .\package.ps1 -buildNumber $buildNumber

artifacts:
- path: 'pkg/*.nupkg'

cache:
  - C:\maven\
  
after_build:
  - ps: |
      Write-Host "Deleting Functions Core Tools if exists...."
      Remove-Item -Force ./Azure.Functions.Cli.zip -ErrorAction Ignore
      Remove-Item -Recurse -Force ./Azure.Functions.Cli -ErrorAction Ignore

      Write-Host "Downloading Functions Host...."

      $url = "https://functionsclibuilds.blob.core.windows.net/builds/2/latest/Azure.Functions.Cli.win-x86.zip"
      $output = "c:\projects\azure-functions-java-worker\Azure.Functions.Cli.zip"
      $start_time = Get-Date

      $wc = New-Object System.Net.WebClient
      $wc.DownloadFile($url, $output)

      Write-Output "Time taken: $((Get-Date).Subtract($start_time).Seconds) second(s)"

      Write-Host "Extracting Functions Core Tools...."
      Expand-Archive "c:\projects\azure-functions-java-worker\Azure.Functions.Cli.zip" -DestinationPath "c:\projects\azure-functions-java-worker\Azure.Functions.Cli"


      Write-Host "Copying azure-functions-java-worker to  Functions Host workers directory...."
      Get-ChildItem -Path .\target\* -Include 'azure*' -Exclude '*shaded.jar' | %{ Copy-Item $_.FullName ".\Azure.Functions.Cli\workers\java\azure-functions-java-worker.jar" }


- cmd: cd -Path c:\projects\azure-functions-java-worker\endtoendtests      
- cmd: mvn clean package -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B
- cmd: cd -Path c:\projects\azure-functions-java-worker
- ps: |
     Write-Host "Staring Functions Host...."
     $Env:AzureWebJobsScriptRoot = "c:\projects\azure-functions-java-worker\endtoendtests\target\azure-functions\azure-functions-java-endtoendtests"
     $Env:FUNCTIONS_WORKER_RUNTIME = "java"
     $Env:AZURE_FUNCTIONS_ENVIRONMENT = "development"
     $Env:Path = $Env:Path+";c:\projects\azure-functions-java-worker\Azure.Functions.Cli"

     cd -Path c:\projects\azure-functions-java-worker\endtoendtests
     mvn clean package 
     cd -Path c:\projects\azure-functions-java-worker

     Write-Host $Env:AzureWebJobsScriptRoot

     $proc = start-process -filepath c:\projects\azure-functions-java-worker\Azure.Functions.Cli\func.exe -WorkingDirectory "c:\projects\azure-functions-java-worker\endtoendtests\target\azure-functions\azure-functions-java-endtoendtests" -ArgumentList "host start" -PassThru
     # wait for host to start
     Start-Sleep -s 30

test_script:
  - ps: >
      .\run-tests.ps1

on_finish:
  - ps: Stop-Process -Id $proc.Id -Erroraction Ignore
  