# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:

pool:
  vmImage: 'windows-2019'

steps:
- task: NuGetToolInstaller@0
  inputs:
   checkLatest: true
- pwsh: |
     Get-Command mvn
  displayName: 'Check Maven is installed'
- pwsh: |
      $buildNumber = 0      
      if($env:APPVEYOR_REPO_TAG -eq "true") {
       $buildNumber = $(Build.SourceBranchName)
       Write-Host “Found git tag."
      } 
      else {
       $buildNumber = "1.7.1-$(Build.BuildId)"
       Write-Host “git tag not found. Setting package suffix to '$buildNumber'"
      }     
      .\package-pipeline.ps1 -buildNumber $buildNumber
  displayName: 'Executing build script'
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.Repository.LocalPath)/pkg'
    Contents: '*.nupkg'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    CleanTargetFolder: true
  displayName: 'Copying files for artifacts'
- pwsh: |
      .\setup-tests-pipeline.ps1
  displayName: 'Setting tests'
- pwsh: |
      .\build-run-tests-pipeline.ps1
  env:
    AzureWebJobsStorage: $(AzureWebJobsStorage)
    AzureWebJobsCosmosDBConnectionString: $(AzureWebJobsCosmosDBConnectionString)
    AzureWebJobsServiceBus: $(AzureWebJobsServiceBus)
    AzureWebJobsEventHubReceiver: $(AzureWebJobsEventHubReceiver)
    AzureWebJobsEventHubSender: $(AzureWebJobsEventHubSender)
    AzureWebJobsEventHubPath: $(AzureWebJobsEventHubPath)
    SBTopicName: $(SBTopicName)
    SBTopicSubName: $(SBTopicSubName)
    CosmosDBDatabaseName: $(CosmosDBDatabaseName)
    SBQueueName: $(SBQueueName)
  displayName: 'Build & Run tests for java 8'
  continueOnError: false
- pwsh: |
    .\build-run-tests-pipeline.ps1
  env:
    FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS: 'True'
    AzureWebJobsStorage: $(AzureWebJobsStorage)
    AzureWebJobsCosmosDBConnectionString: $(AzureWebJobsCosmosDBConnectionString)
    AzureWebJobsServiceBus: $(AzureWebJobsServiceBus)
    AzureWebJobsEventHubReceiver: $(AzureWebJobsEventHubReceiver)
    AzureWebJobsEventHubSender: $(AzureWebJobsEventHubSender)
    AzureWebJobsEventHubPath: $(AzureWebJobsEventHubPath)
    SBTopicName: $(SBTopicName)
    SBTopicSubName: $(SBTopicSubName)
    CosmosDBDatabaseName: $(CosmosDBDatabaseName)
    SBQueueName: $(SBQueueName)
  displayName: 'Build & Run tests for java 8 Customer jar loaded first'
  continueOnError: false
- pwsh: |
    .\build-run-tests-pipeline.ps1
  env:
    JAVA_HOME: 'C:\Program Files\Java\zulu-11-azure-jdk_11.33.15-11.0.4-win_x64'
    AzureWebJobsStorage: $(AzureWebJobsStorage)
    AzureWebJobsCosmosDBConnectionString: $(AzureWebJobsCosmosDBConnectionString)
    AzureWebJobsServiceBus: $(AzureWebJobsServiceBus)
    AzureWebJobsEventHubSender_2: $(AzureWebJobsEventHubSender_2)
    AzureWebJobsEventHubReceiver: $(AzureWebJobsEventHubReceiver)
    AzureWebJobsEventHubSender: $(AzureWebJobsEventHubSender)
    AzureWebJobsEventHubPath: $(AzureWebJobsEventHubPath)
    SBTopicName: $(SBTopicName)
    SBTopicSubName: $(SBTopicSubName)
    CosmosDBDatabaseName: $(CosmosDBDatabaseName)
    SBQueueName: $(SBQueueName)
  displayName: 'Build & Run tests for java 11'
  continueOnError: false
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)/testResults'
    Contents: '*.trx'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
  displayName: 'Copying test result file for artifacts'
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  displayName: 'Publishing build and test result artifacts'