# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
pool:
  vmImage: 'vs2017-win2016'

steps:
- pwsh: |
      .\run-tests.ps1
  env:
    AzureWebJobsStorage: $(AzureWebJobsStorage)
    AzureWebJobsCosmosDBConnectionString: $(AzureWebJobsCosmosDBConnectionString)
    AzureWebJobsServiceBus: $(AzureWebJobsServiceBus)
    AzureWebJobsEventHubReceiver: $(AzureWebJobsEventHubReceiver)
    AzureWebJobsEventHubSender: $(AzureWebJobsEventHubSender)
    AzureWebJobsEventHubPath: $(AzureWebJobsEventHubPath)
    SBTopicName: $(SBTopicName)
    SBTopicSubName: $(SBTopicSubName)
    CosmosDBDatabaseName: $(CosmosDBDatabaseName)
    SBQueueName: $(SBQueueName)
    FunctionAppUrl: $(FunctionAppUrl)
    AzureWebJobsEventHubSender_2: $(AzureWebJobsEventHubSender_2)
    BrokerList": $(BrokerList)
    ConfluentCloudUsername: $(ConfluentCloudUsername)
    ConfluentCloudPassword: $(ConfluentCloudPassword)
  displayName: 'running tests'
  continueOnError: true
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)/testResults'
    Contents: '*.trx'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
  displayName: 'Copying test result file for artifacts'
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  displayName: 'Publishing build and test result artifacts'